/* Intro */
.intro__signup {
    background-color: white;
    width: 500px;
    height: 400px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 130px;

    border-radius: 37px;
    box-shadow: 5px 5px 20px 0px rgb(0 0 0 / 20%);

    opacity: 0;
    transition: .3s;
    animation: show-signup 2s 1;
    animation-fill-mode: forwards;
    animation-delay: .3s;
}
@keyframes show-signup {
    0% {
        opacity: 0;
        margin-top: 7vh;
    }
    100% {
        opacity: 1;
        margin-top: 25vh;
    }
}

/* Sign Up */
.signup__header {
    line-height: 60px;
    text-align: center;
    font-size: 25px;
    margin-bottom: 50px;
}
.signup__form {
    display: table;
    margin-left: auto;
    margin-right: auto;
}
.signup__input {
    width: 310px;

    padding: 10px;
    margin: 10px 60px;
    border-radius: 0.5rem;
    border: 1px solid #bdbdbd;
    transition: 0.3s;
}
.signup__input:focus {
    outline: none !important;
    border: 1px solid #2F3742;
}
.form__submit {
    display: flex;
    justify-content: center;
}
.signup__submit {
    cursor: pointer;
    height: 35px;
    width: 310px;
    margin-top: 27px;
    border-radius: 0.5rem;
    border: 2px solid #2F3742;
    background-color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    color: #2F3742;
    transition: 0.5s;
    font-size: 12px;
}
.signup__submit:hover {
    background-color: #2F3742;
    color: #fff;
}

/* Error */
.error {
    color: red;
    margin-left: 94px;
    font-size: 12px;
}